.gallery { }
.gallery ul { padding: 0; margin: 0; }
.gallery ul li { display: block; list-style: none outside; }

.gallery ul { overflow: hidden; }
.gallery ul li { float: left; margin: 0 5px 5px 0; }
.gallery ul li a { display: block; padding: 5px; border: 1px solid #333 }
.gallery ul li a img { display: block; width: 100px; height: 100px; background: #983455; }

/*.gallery ul li a:hover img { width: 120px; height: 120px; }*/
